.NeonText {
  display: inline-block;
  &__letter {
    display: inline-block;
    list-style: none;
    color: #484848;
    font-size: 90px;
    letter-spacing: 15px;
    animation: lighting 1.4s linear infinite;
  }
}

@keyframes lighting {
  0% {
    color: #484848;
    text-shadow: none;
  }

  90% {
    color: #484848;
    text-shadow: none;
  }

  100% {
    color: #fff900;
    text-shadow: 0 0 7px #fff900, 0 0 50px #ff6c00;
  }
}
